@media (max-width: 900px) {
    
    .container {
        padding: 0 25px;
    }

    .header__container{
        z-index: 999;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 49px;
        padding-top: 5px;
    }
    .header__container-opacity{
        z-index: 50;
        position: absolute;
        top: -49px;
        left: 0;
        width: 100%;
        height: 49px;
        background-color: rgba(1,1,1, 0.5);        
    }

    .header__logo_text{
        font-size: 25px;
    }

    .video{
        width: 100%;
        max-width: 900px;
    }

    .hero-content__btn {
        margin-top: 50%;
        font-size: 13px;
        width: 175px;
        padding: 10px 27px 8px 27px;
        text-align: center;
        z-index: 100;
        /* margin-left: 50%; */
    }

    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 10px;
    }

    .swiper-pagination-bullet {
        height: 12px;
        width: 12px;
    }

     
    .app__logo{
        padding-bottom: 30px;
        padding-left: 0.5em;
        letter-spacing: 0.5em;
        font-size: 130px;
    }
    
    .app__sub {
        padding-left: 0.7em;
        letter-spacing: 0.7em;
        font-size: 45px;
    }

    .app__glitch {
        font-size: 40px;
        letter-spacing: 0.5em;
    }
    
    
    .header__container {
        height: 49px;
    }

    .hero {
        height: 1440px;
    }

    .swiper-slide {
        position: relative;
        padding-top: 0px;
        text-align: center;
    }


    .hero-content__heading {
        font-size: 50px;
        line-height: 60px;
    }
    
    .hero-content__text {
        font-size: 18px;
        max-width: 540px;
        margin-bottom: 0px;
    }

    .nav {
        height: 731px;
    }

    
    .work__list {
        margin-bottom: 42px;
        justify-content: space-between;
    }

    .work__content {
       flex-direction: column-reverse;
    }

    .work-right,
    .work-left {
        width: 100%;
    }

    .work-left__text {
        max-width: 100%;
    }

    .work-right {
        margin-bottom: 40px;
    }

    .questions {
        padding-top: 42px;
        padding-bottom: 79px;
    }

    .questions__wrapper {
        padding: 45px 0 35px;
    }

    .questions__title {
        max-width: 520px;
        margin-right: 100px;
    }

    .questions__heading {
        margin-bottom: 28px;
        font-size: 52px;
    }
    .footer__list {
        margin-bottom: 50px;
    }

    /* .footer {
        padding-top: 45px;
    }

    .footer__container {
        flex-direction: column-reverse;
    }

    .footer-right {
        width: 81%;
        margin-bottom: 42px;
    }

    .footer__list {
        display: none;
    }
    
    .footer__logo {
        margin-bottom: 12px;
    }

    .footer__icon {
        
    } */

    .footer__icon {
        width: 48px;
        height: 48px;
        flex-shrink: 0;
    }

    .featured__item {
        max-width: 450px;
        width: 47%;
    }
    .featured__item_img {          
        max-width: 450px;
        width: 100%;
    }

    .featured__item_imgwrapper {
        height: 440px;    
    }

    .footer__icon-svg{
        width: 48px;
        height: 48px;
    }

    .footer__link{
        font-size: 15px;
    }


}