@font-face {
    font-family: 'SF UI Text';
    src: url('SFUIText-Light.eot');
    src: local('SF UI Text Light'), local('SFUIText-Light'),
        url('SFUIText-Light.eot?#iefix') format('embedded-opentype'),
        url('SFUIText-Light.woff2') format('woff2'),
        url('SFUIText-Light.woff') format('woff'),
        url('SFUIText-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}









